#TopBar {
    background: #ff8732;
    height: 15vh;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.font {
    font-family: 'Flame sans', sans-serif;
}

.spin {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

#TopBar #TopBarItems {
    padding: 20px;
    width: 15%;
    height: 100%;
}

.Logo {
    width: 5vw;
}

.container {
    display: flex;
    justify-content: space-between;
}

.centerVert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerHori {
    margin: auto;
    text-align: center;
}

@keyframes test {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes spin {
    0% {transform: rotate(0);}
    25% {transform: rotate(90);}
    50% {transform: rotate(180);}
    50% {transform: rotate(270);}
    100% {transform: rotate(360);}
}

#MainSection {
    background: #f5ebdc;
    height: 70vh;
    width: 98%;
    margin: auto;

    /* animation-name: test;
    animation-iteration-count: infinite;
    animation-duration: 4s; */
}

#Whopper {
    height: 80%;
    width: 50%;
    background-color: f5ebdc;
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
}

#WhopperImage {
    height: 100%;
}

#WhopperImage img{
    height: 100%;
}

#BottomBar {
    background: #ff8732;
    height: 15vh;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#BottomBar #BottomBarItems {
    height: 100%;
    width: 30%;
    padding: 20px;
}